<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ReviewMapper Xml -->
<mapper namespace="com.project.fastpickup.admin.review.mappers.ReviewMemberMapper">
   
   <select id = "getReviewMemberList" resultType="com.project.fastpickup.admin.review.dto.ReviewMemberListDTO">

        select r.rno, s.sno, s.storeName, p.pno, p.productName, concat(pi.uuid,'_',pi.fileName) as productImg, r.email, r.reviewDate, r.isDeleted 
            from tbl_review r left outer join tbl_store s on r.sno = s.sno
		    left outer join tbl_order o on r.ono = o.ono
		    left outer join tbl_member m on m.email = o.email
		    left outer join tbl_product p on o.pno = p.pno
		    left outer join tbl_product_image pi on p.pno = pi.pno
        where r.rno = r.gno and r.isDeleted = false and r.email = #{email} and pi.ord = 0
        order by r.reviewDate desc
        limit #{pr.skip}, #{pr.size}

   </select>

</mapper>